body{
	background-color:#f2f2f2;
	color:#cccccc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.picture {
        border-radius: 100px;
        height: 200px;
        max-width: auto;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-style: solid;
        position: absolute;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;

}

.parallax {
        /* The image used */
        background-image:url('images/showcase.jpg');
        /* Set a specific height */
        height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#main-header{
	background-color:#595959;
        text-align: center;
	color:white;
        font-family: monospace;
}

#navbar{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
	background-color:#7f7f7f;
	color:white;
        text-align: center;
        font-family: monospace;
        z-index: 3;
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}


#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
        color:#595959;
        font-family: monospace;

}

#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:20px;
	box-sizing: border-box;
        font-size: 15px;
        font-family: monospace;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}
