body{
	background-color:#eee2dc;
	color:#efe7ce2e;
	font-family:'Open Sans', sans-serif;;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.picture {
        height: 200px;
        width: 200px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-style: solid;
        border-radius: 100px;
	z-index: 2;
}


.parallax {
        /* The image used */
	background-size: auto;
        background-image:url('images/showcase.jpg');
        /* Set a specific height */
        height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	text-align: center;

}

#navbar{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
	background-color:#123c69;
	color:white;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        z-index: 3;
}

#navbar ul{
	text-align: center;
	list-style: none;
}

#navbar li{
	text-align: center;
	display:inline;
}

#navbar a{
	color: white;
	font-size: 20px;
	font-style: none;
	padding-right: 5.2%;
}


#main{
        color: black;
        font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#main h1 {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

#main-footer{
	background: #123c69;
	color:#fff;
	text-align: center;
	padding-top: 5%;
	margin-top: 10%;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}
