body{
	background-color:#fff;
	color:#efe7ce2e;
	font-family:'Open Sans', sans-serif;;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.picture {
        height: 200px;
        width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: block;
	margin-left: auto;
	margin-right: auto;
        border-style: solid;
        border-radius: 100px;
	z-index: 1;
}

#img {
	-webkit-box-shadow: -2px 7px 40px 2px rgba(0,0,0,0.49);
	-moz-box-shadow: -2px 7px 40px 2px rgba(0,0,0,0.49);
	box-shadow: -2px 7px 40px 2px rgba(0,0,0,0.49);
	-webkit-transition: all ease-in-out 500ms;
	-moz-transition: all ease-in-out 500ms;
	-o-transition:all ease-in-out 500ms;
	transition: all ease-in-out 500ms;

}

#img:hover {
	-webkit-box-shadow: -2px 19px 24px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: -2px 19px 24px 0px rgba(0,0,0,0.3);
	box-shadow: -2px 19px 24px 0px rgba(0,0,0,0.3);
	transform: translate(0px,-4px);
}


.parallax {
        /* The image used */
        background-image:url('images/showcase2.jpg');
        /* Set a specific height */
        height: 550px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}


.about {
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}
.current {
	text-align: center;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 16px;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	text-align: center;

}

#navbar{
        position: -webkit-sticky; /* Safari */
        position: sticky;
	scroll-behavior: smooth;
	background-color:#123c69;
	color:white;
        z-index: 3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navbar ul{
	text-align: center;
	list-style: none;
}

#navbar li{
	text-align: center;
	display:inline;
}

#navbar a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 8px;
	float: right;
	font-family: 'Open Sans', sans-serif;
	margin-left: 5%;
	padding-bottom: 2.5%;
}

#main{
        color: black;
        font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;
}

#about h1 {
	margin-top: 5%;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 50px;
	font-size: 50px;
	text-shadow: 2px 2px 5px grey;

}

#about p{
	margin-bottom: 10%;
}


#projects h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 50px;
	font-size: 50px;
	text-shadow: 2px 2px 5px grey;
}

#portfolio h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 50px;
	font-size: 50px;
	text-shadow: 2px 2px 5px grey;
}


#portfolio img{
	display:inline-block;

}


#main-footer {
	background: #123c69;
	color:#fff;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
	margin-top: 10%;
}
